@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Variables */
    --iberia-background-color: #d7192d;

    /* Typography */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Colors */
    color: black;
    background-color: white;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

input {
    @apply border-2 p-2;
}

.iberia-bg-color {
    background-color: var(--iberia-background-color);
}
