@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Variables */
    --iberia-color: #d7192d;

    /* Typography */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Colors */
    color: black;
    background-color: white;
}

@layer components{
  .iberia-bg-color {
    background-color: var(--iberia-color);
  }
  .iberia-text-color {
    color: var(--iberia-color);
  }
  .iberia-border-color {
      border-color: var(--iberia-color);
  }
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    @apply text-2xl mb-2;
}
h2 {
  @apply text-xl font-bold iberia-text-color mb-2;
}
h3 {
    @apply font-bold iberia-text-color mt-2;
}

input {
    @apply border-2 p-2;
}

button {
    @apply iberia-bg-color text-white p-2;
}

ul {
    @apply list-disc px-8 text-left w-fit m-auto;

  li > ul {
    @apply list-disc pl-4 pr-0 text-left w-fit m-auto;
  }
}
